*{
    padding: 0;
    margin: 0;
    color: white;

}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    justify-content: center;
    align-items: center;

}
.ele{
    gap:5px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
input, button{
  
    background-color: #212121;
    border: 1px solid white;
    
    width: 300px;
    height: 30px;
    border-radius: 10px;
    color: white;
    padding: 5px;
}
